/target/test-classes/org/example/di/BookRepository.class
/target/test-classes/org/example/di/BookService.class
/target/classes/org/example/di/ContainerService.class
/target/test-classes/org/example/di/ContainerServiceTest.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/classes/org/example/di/Inject.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/classes/org/example/MyAnnotation.class
/target/surefire-reports/org.example.AppTest.txt
/target/surefire-reports/org.example.di.ContainerServiceTest.txt
/target/maven-archiver/pom.properties
/target/refactoring-example-1.0-SNAPSHOT.jar
/target/surefire-reports/TEST-org.example.AppTest.xml
/target/surefire-reports/TEST-org.example.di.ContainerServiceTest.xml
/target/classes/org/example/TestBook.class
/target/classes/org/example/TestBookApp.class
